{
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "comma-dangle": ["error", "never"],
    "indent": ["error", 2],
    "no-use-before-define": ["error", { "functions": false, "classes": false }],
    "arrow-parens": ["error", "always"],
    "object-curly-spacing": ["error", "never"],
    "function-paren-newline": ["off"],
    "max-len": ["error", 120],
    "no-param-reassign": ["error", { "props": false }],
    "no-multiple-empty-lines": ["off"]
  }
}
