::-webkit-scrollbar {
    display: none;
}

#atrament-scroll {
    background: url('./paper.jpg') no-repeat;
    background-position: center;
    background-size: cover;

    width: 320px;
    height: 600px;
    border: 1px solid #000000;
    overflow-y: hidden;
}

#atrament-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: relative;
}

#text-stub {
    height: 600px;
}

.text-wrapper {
    background: url('./paper.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
}

.choice-wrapper {
    background: url('./choice.png') no-repeat;
    background-position: top;
    background-size: cover;
}


.choice {
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 25px;
    margin-top: -5px;
    margin-bottom: -15px;
    text-align:center;
    text-decoration: none;
    font-family: Courier New, fixed;
    font-weight: bold;
    color: #000000;
}
